<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <!-- Custom tests created by the plugin or theme programmers -->
        <testsuite>
            <directory prefix="test-" suffix=".php">./custom_tests</directory>
        </testsuite>
        <!-- Wordpress Tests (created for testing wordpress core, we only run some of these for sanity check) -->
        <testsuite>
            <file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/cron.php</file>
            <file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/post.php</file>
            <file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/query.php</file>
            <file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/shortcode.php</file>
            <!--file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/taxonomy.php</file--> <!-- Version 4.2.2 is broken here again -->
            <file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/term.php</file>
            <file>/Users/mehtryx/ci-build/wordpress-tests-lib//tests/user.php</file>
        </testsuite>
    </testsuites>
</phpunit>
