<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <!-- Custom tests created by the plugin or theme programmers -->
        <testsuite>
            <directory prefix="test-" suffix=".php">./custom_tests</directory>
        </testsuite>
        <!--placeholder do not remove-->
    </testsuites>
</phpunit>
